// position

.position {

    &--relative {
        position: relative;
    }
    &--absolute {
        position: absolute;
    }
}

.can-edit {
    bottom: 0;
    left: 0;
    &-wrap {
        margin: 2rem 0;
    }
}

.visible {
    &--xs {
        display: none;
    }
}

.hidden {
    &--xs {
        display: block;
    }
}

.display {
    &--desktop {
        // do nothing in mobile
    }
}


.section {
    &-tb-pad {
       padding-top: 7rem;
       padding-bottom: 7rem; 
    }
}

.breadcrumbs {
    position: absolute;
    right: 0;
    top: 2rem;
    transition: ease-out 3s right;
    font-size: 1.4rem;
    color: $dark-sky-blue;
    opacity: 0;
}

.breadcrumb_last {
    color: $dark-grey-blue;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media screen and (max-width: 727px) {
    .visible {
        &--xs {
            display: block;
        }
    }
    .hidden {
        &--xs {
            display: none;
        }
    }
}
@media screen and (max-width: 1023px) {
    .visible {
        &--sm {
            display: block;
        }
    }
    .hidden {
        &--sm {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .display {
        &--desktop {
            display: inline-block;
            min-height: 44px;
        }
    }
    .single-page-template--content {
        .breadcrumbs {
            opacity: 1;
        }
    }
}
