.hero {
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;


    &--home {
        height: 47rem;
    }
}

@media screen and (min-width: 375px) {
    .hero {
        &--home {
            height: 60rem;
        }
    }
}
@media screen and (min-width: 1440px) {
    .hero {
        &--home {
            height: 80rem;
            background-position: top center;
        }
    }
}