.hero {
    &--home {
        height: 47rem;
    }
    &--templates {
        min-height: 30rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) {
    .hero {
        &--home {
            height: 60rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        &--templates {
            min-height: 40rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        &--home {
            height: 80rem;
            background-position: top center;
        }
    }
}


