.hero--home {
    h1 {
        color: #fff;
        font-size: 2.5rem;
        max-width: 32rem;
        margin-top: 40rem;
    }
}

.home {
    &__card-grid {
        // padding: 1.2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        margin-bottom: 3rem;
        transition: ease .33s all;

        &:hover {
            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
        }

        p {
            line-height: 1.94;

            // padding-bottom: 2rem;
       
        }

        &__content-wrap {
            background-color: #fff;

            &:after {
                position: absolute;
                content: '';
                top: -.4rem;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent #ffffff transparent;
            }
        }

        .read-more {
            color: $dark-sky-blue;
            font-size: 1.3rem;
        }
    }

    // &__about-card {

    // }
    &__bg-image {
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--hero {
            background-attachment: unset;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 48rem;
            z-index: -1;
        }
    }

    &__main-front-page-content {
        margin-top: 49rem;
        padding-top: 3rem;
        background-color: #fff;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    &__main-conten {
        p {
            font-size: 3rem;
        }
    }
}

.reach-out {
    height: 50rem;
    padding: 7rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__content {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.94;
    }
}

.perspective {
    &--wrap {
        h2 {
            font-size: 3rem;
            font-weight: bold;
            margin: 2rem 0 2.4rem;
            // font-weight: 500;
        }

        p {
            margin-bottom: 2.5rem;
            line-height: 1.94;
        }

        .img-margin-top-mobile {
            margin-top: 3rem;
        }

        .img-margin-bottom-desktop {
            margin-bottom: 0;
        }
    }
}

.featured {
    &-wrap {
        padding: 5rem 0;
        width: 100%;
        overflow: hidden;

        h2 {
            padding: 2rem 0 4rem;
            font-size: 3rem;
            color: #fff;
            font-weight: 300;
            text-transform: capitalize;
        }

        #featuredCatCarousel {
            .carousel-indicators {
                bottom: -3.2rem;

                li {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    &__outter-wrap {
        overflow: auto;
    }

    &__inner-wrap {}

    &__card-content {
        padding: 2.5rem 1rem 1rem;
        height: 21.4rem;
        position: relative;
        background-color: #fff;
    }

    &__card-img {
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__card-date {
        background-color: #295168;
        position: absolute;
        top: -1.4rem;
        left: 0;
        width: 16rem;
        font-size: 1.6rem;
        text-align: center;
        padding: 1px 0;
        color: #fff;
    }
}

@media screen and (min-width: 375px) {
    .home {
        &__bg-image {
            &--hero {
                height: 60rem;
            }
        }

        &__main-front-page-content {
            margin-top: 60rem;
        }
    }

    .hero--home {
        h1 {
            color: #fff;
            font-size: 3rem;
            max-width: 32rem;
            margin-top: 50rem;
        }
    }
}

@media screen and (min-width: 414px) {
    .hero--home {
        h1 {
            font-size: 3.5rem;
            max-width: 44rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero--home {
        h1 {
            font-size: 6rem;
            max-width: 65rem;
            margin-top: 44rem;
        }
    }

    .reach-out {
        //padding: 16.8rem 0 14rem;
    }

    .home {
        &__card-grid {
            &__content-wrap-right-arrow {
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 95%;
                    border-width: 0 15px 15px 15px;
                    border-color: transparent transparent #ffffff transparent;

                    // border-color: transparent transparent red transparent;
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }

            &__content-wrap {
                &:after {
                    border-width: 0 15px 15px 15px;
                }
            }

            &__content-wrap-left-arrow {
                &:after {
                    position: absolute;
                    content: '';
                    top: 42%;
                    left: -4%;
                    border-width: 0 15px 15px 15px;
                    border-color: transparent transparent #ffffff transparent; // border-color: transparent transparent red transparent;
                    transform: rotate(-90deg) translate(-50%, -50%);
                }
            }
        }
    }

    .perspective {
        &--wrap {
            h2 {
                margin: 4rem 0 3rem;
            }

            .img-margin-top-mobile {
                margin-top: 5rem;
            }

            p {
                margin-bottom: 3rem;
            }
        }
    }

    .featured {
        &__card-content {
            height: 16.4rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .home {
        &__card-grid {
            &__content-wrap-right-arrow {
                &:after {
                    left: 95%;
                }
            }

            &__content-wrap-right-arrow-about-mactel {
                &:after {
                    top: 53%;
                    left: 91%;
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }

            &__content-wrap-left-arrow-news-media {
                &:after {
                    top: 41%;
                    left: -4%;
                    border-width: 0 20px 20px 20px;
                    transform: rotate(-90deg) translate(-50%, -50%);
                }
            }

            &__content-wrap {
                background-color: #fff;

                &:after {
                    border-width: 0 20px 20px 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .home {
        &__card-grid {
            &__content-wrap-right-arrow-about-mactel {
                &:after {
                    top: 53%;
                    left: 93%;
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }
        }
    }

    .perspective {
        &--wrap {
            h2 {
                margin: 0.5rem 0 3.5rem;
            }

            .img-margin-top-mobile {
                margin-top: 0;
            }

            .img-margin-bottom-desktop {
                margin-bottom: 5rem;
            }

            p {
                margin-bottom: 4.3rem;
            }
        }
    }

    .hero--home {
        h1 {
            font-size: 8rem;
            max-width: none;
            margin-top: 37rem;
            // font-weight: bold;
        }
    }
}

@media screen and (min-width: 1200px) {
    .reach-out {
        //padding: 16.8rem 0 16.8rem;
    }

    .perspective {
        &--wrap {
            .img-margin-bottom-desktop {
                margin-bottom: 8rem;
            }
        }
    }

    .hero--home {
        h1 {
            font-size: 6rem;
            max-width: none;
            margin-top: 45rem;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero--home {
        h1 {
            font-size: 6rem;
            margin-top: 65rem;
        }
    }

    .home {
        &__bg-image {
            &--hero {
                height: 80rem;
            }
        }

        &__main-front-page-content {
            margin-top: 80rem;
        }
    }
}
