.hero--home {
    h1 {
        font-size: 4.5rem;
        color: #fff;
    }
}

.home {
    &__card-grid {
        // padding: 1.2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        margin-bottom: 3rem;
        
        
        // transition: ease .33s all;
        // &:hover {
        //     box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
        //     background-color: red;
        // }
        p {
            line-height: 1.94;
            // padding-bottom: 2rem;           
        }
         &__content-wrap {
             background-color: #fff;
             &:after {
                 position: absolute;
                 content: '';
                 top: -.4rem;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 width: 0;
                 height: 0;
                 border-style: solid;
                 border-width: 0 10px 10px 10px;
                 border-color: transparent transparent #ffffff transparent;
             }
         }
        .read-more {
            color: $dark-sky-blue;
            font-size: 1.3rem;
        }
    }
}


.reach-out {
    height: 50rem;
    padding: 11rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }
    &__content {
        font-size: 1.6rem;
        line-height: 1.94;
    }
}

.perspective {
    &--wrap {
        h2 {
            font-size: 3rem;
            font-weight: 300;
            margin: 2rem 0 2.4rem; 
        }
        p {
            margin-bottom: 2.5rem;
            line-height: 1.94;
        }
        .img-margin-top-mobile {
            margin-top: 3rem;
        }
        .img-margin-bottom-desktop {
            margin-bottom: 0;
        }
        
    }
}


@media screen and (min-width: 768px) {
    .reach-out {
        padding: 16.8rem 0 14rem;
    }
    .home {
        &__card-grid {
            &__content-wrap-right-arrow {
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 95%;
                    border-width: 0 15px 15px 15px;
                    border-color: transparent transparent #ffffff transparent;
                    // border-color: transparent transparent red transparent; 
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }
            &__content-wrap {
                &:after {
                    border-width: 0 15px 15px 15px;
                }
            }
            &__content-wrap-left-arrow {
                &:after {
                    position: absolute;
                    content: '';
                    top: 42%;
                    left: -4%;
                    border-width: 0 15px 15px 15px;
                    border-color: transparent transparent #ffffff transparent; // border-color: transparent transparent red transparent; 
                    transform: rotate(-90deg) translate(-50%, -50%);
                }
            }
        }
    }

    .perspective {
        &--wrap {
            h2 {
                margin: 4rem 0 3rem; 
            }
            .img-margin-top-mobile {
                margin-top: 5rem;
            }
            p {
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .home {
        &__card-grid {
            &__content-wrap-right-arrow {
                &:after {
                    left: 95%;
                }
            }
            &__content-wrap-right-arrow-about-mactel {
                &:after {
                    top: 53%;
                    left: 91%;
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }
            &__content-wrap-left-arrow-news-media {
                &:after {
                    top: 41%;
                    left: -4%;
                    border-width: 0 20px 20px 20px;
                    transform: rotate(-90deg) translate(-50%, -50%);
                }
            }
            &__content-wrap {
                background-color: #fff;
                &:after {
                    border-width: 0 20px 20px 20px;
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {
    .home {
        &__card-grid {
            &__content-wrap-right-arrow-about-mactel {
                &:after {
                    top: 53%;
                    left: 93%;
                    transform: rotate(90deg) translate(-50%, -50%);
                }
            }
            // &__content-wrap-right-arrow {
            //     &:after {
            //         left: 95%;
            //         border-width: 0 20px 20px 20px;
            //     }
            // }
        }
    }
            
    .perspective {
        &--wrap {
            h2 {
                margin: 0.5rem 0 3.5rem; 
            }
            .img-margin-top-mobile {
                margin-top: 0;
            }
            .img-margin-bottom-desktop {
                margin-bottom: 5rem;
            }
            p {
                margin-bottom: 4.3rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .reach-out {
        padding: 16.8rem 0 16.8rem;
    }
    .perspective {
        &--wrap {
            .img-margin-bottom-desktop {
                margin-bottom: 8rem;
            }
        }
    }
}
