.read-more {
    color: $dark-sky-blue;
    font-size: 1.3rem;
    &:hover {
        color: $dark-sky-blue;
        .icn--arrow {
            transform: translateX(1rem);
        }
    }
}
.read-more-btn {
    background-color: $dark-sky-blue;
    color: #fff;
    padding: 1.45rem 2.495rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    transition: 0.33s ease-in all;
    margin-bottom: 5rem;
    &:hover {
        color: #fff;
        background-color: $dark-sky-blue-light;
    }
}