.read-more {
    color: $dark-sky-blue;
    font-size: 1.3rem;
}
.read-more-btn {
    background-color: $dark-sky-blue;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    transition: 0.33s ease-in all;
    &:hover {
        color: #fff;
        background-color: $dark-sky-blue-light;
    }
}