.list {
    padding: 0;
    &--home-grid {
        h3 {
            padding-bottom: 1.5rem;
        }
    }

    &--unstyled {
        list-style: none;
    }

    &--inline {
        > li {
            display: inline-block;
        }
    }

    &--home-hero {
        transform: translateY(-4rem);
    }

    &--grid-order {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;

        > li {
            display: inline;

            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 2;
            }
        }
    }
    &__item-pad {
        padding: 2rem 1.6rem 1.2rem;
 
    }
    &__item-image-pos {
        overflow: hidden;
        min-height: 18.5rem;
        img {
            position: absolute;
            top: 0;
            max-width: none;
            width: 51rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__item-clinical-image-pos {
        overflow: hidden;
        min-height: 18.5rem;
        img {
            position: absolute;
            top: 0;
            max-width: none;
            width: 51rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__item-lab-research-image-pos {
        overflow: hidden;
        min-height: 18.5rem;
        img {
            position: absolute;
            top: 0;
            max-width: none;
            width: 51rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__clinical-research-content-pad {
        padding: 0px;
    }
    

    &--featured {
        > li {
            display: inline-block;
            width: 24.4rem;
            vertical-align: top;
            margin-right: 2rem;
        }
    }
    &--clinical-research-featured {
        width: 100%;
        margin: 0;
        margin-bottom: 5rem;

    }
}

@media screen and (min-width: $screen-min-sm) {
    .list {
        &--grid-order {
            flex-direction: row;

            > li {
                &:nth-child(1) {
                    order: 2;
                    width: 50%;
                }

                &:nth-child(2) {
                    order: 1;
                    width: 50%;
                }
            }
        }

        &--grid-order-img-up {
            flex-direction: row;
            >li {
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
            }
        }
        &__item-image-pos {
            img {
                width: 64rem;
            }
        }

        &__item-clinical-image-pos {
            img {
                width: 35rem;
            }
        }

        &__item-lab-research-image-pos {
            img {
                width: 39rem;
            }
        }

        &--grid-order-img-right {
            img {
                width: 33rem;
            }
        }

        &--tablet-img-top {
            flex-direction: column;
            >li {
                &:nth-child(1) {
                    order: 1;
                    width: 100%;
                }
                &:nth-child(2) {
                    order: 2;
                    width: 100%;
                }
            }
        }

        &--grid-order-img-left {
            flex-direction: row;
            >li {
                &:nth-child(1) {
                    order: 1;
                    width: 48%;
                }
                &:nth-child(2) {
                    order: 2;
                    width: 50%;
                }
            }
        }

        &__home-grid-contact-us-content {
            p {
                padding-bottom: 3rem;
            }
        }

        &__item-pad {
            // padding: 2rem 1.6rem 1.2rem;
            padding-left: 2.7rem;
        }
        &--featured {
            > li {
                width: 34rem;
                margin-right: 5.6rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &--clinical-research-featured {
            margin-bottom: 7rem;

        }
    }

}

@media screen and (min-width: 992px) {
    .list {
        &--tablet-img-top {
            flex-direction: row;
            >li {
                &:nth-child(1) {
                    order: 2;
                    width: 50%;
                }
                &:nth-child(2) {
                    order: 1;
                    width: 50%;
                }
            }
        }
        &--reverse-order {
            >li {
                &:nth-child(1) {
                    order: 1;
                    width: 49%;
                }
                &:nth-child(2) {
                    order: 2;
                    width: 54%;
                }
            }
        }
        &--grid-order-img-right {
            img {
                width: 37rem;
            }
        }
        &__clinical-research-content-pad {
            padding-bottom: 6.4rem;
        }
        &__item-heart-image-pos {
            min-height: 11.2rem;
        }

        &__home-grid-contact-us-content {
            padding-bottom: 0 !important;
            h3 {
                padding-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
        &__news-media-content-no-pad {
            >li {
                padding-top: 5rem;
                padding-left: 6rem;
                padding-bottom: 6.9rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .list {
        &__clinical-research-content-pad {
            padding-bottom: 4.5rem;
        }
        
    }
}