
.investigators {
    border-bottom: 1px solid rgba(27,27,27, 0.3);

    &:last-of-type {
        border-bottom: 1px solid transparent;
    }


    &__thumbs {
        display: inline-block;
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    &__desc {
        p {
            margin-bottom: 2rem;
        }
    }
    padding-bottom: 4.5rem;
    margin-bottom: 4rem;
}