.single-page-template {
    &--content {
        h1 {
            font-size: 5rem;
        }

        p {
            margin-bottom: 3rem;
            line-height: 1.94;
            letter-spacing: 0.3px;
        }

        figure {
            margin-bottom: 2.2rem;

            &.image-figure {
                background-color: $off-white;
                float: none !important;
                padding: 0 !important;
                width: auto !important;

                .fig-caption {
                    padding: 2rem 2.6rem;
                    font-size: 1.2rem;
                }
            }
        }

        h3 {
            font-size: 30px;
            line-height: 1.33;
            letter-spacing: 1.4px;
            font-weight: normal;
        }

        h4 {
            margin-bottom: 2rem;
        }

        li {
            font-size: 1.6rem;
            line-height: 1.46;
            margin-bottom: 3rem;
            line-height: 1.94;
            letter-spacing: 0.3px;
        }
    }

    &__card-title {
        h3 {
            font-size: 2.4rem;
            font-weight: bold;
            padding-bottom: 2.5rem;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        opacity: 0.3;
        border: solid 1px #979797;
        margin-bottom: 4rem;
    }

    &__article-content {
        .wp-caption {
            padding: 0;
            border: 0;
            background-color: $off-white;
            text-align: left;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            transition: ease .33s all;

            &:hover {
                box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
            }

            img {
                max-width: 100%;
            }

            &-text {
                padding: 2rem 2.6rem;
                font-size: 1.2rem;
            }
        }

        &--contact {
            ul {
                padding: 0 0 0 7rem;

                > li {
                    list-style-type: none;
                    margin-bottom: 5rem;
                }
            }

            .address, .phone, .general-info {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    left: -7rem;
                    right: auto;
                    width: 3rem;
                    height: 3.5rem;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position-x: center;
                }
            }

            .address {
                &:before {
                    background-image: url(../img/icons/address-icon.png);
                }
            }

            .phone {
                &:before {
                    background-image: url(../img/icons/phone-icon.png);
                }
            }

            .general-info {
                &:before {
                    background-image: url(../img/icons/mail-icon.png);
                }
            }
        }

        ul {
            > li {
                list-style-type: none;
            }
        }
    }

    &__country-list-tabs {
        background-color: $dark-grey-blue;
        padding: 4rem 3rem;

        h3 {
            color: #fff;
            font-size: 3rem;
            font-weight: 300;
            text-align: center;
            max-width: 25.4rem;
            margin: 0 auto 4rem;
        }

        ul {
            &.nav-tabs {
                border: 0;
                display: block;
                text-align: center;

                .nav-item {
                    margin-bottom: 1.7rem;
                    position: relative;

                    .nav-link {
                        background-color: transparent;
                        border: 0;
                        color: #fff;
                        font-size: 1.8rem;
                        display: inline-block;
                        border-bottom: 3px solid transparent;
                        font-weight: 500;
                        padding: 0;

                        &.active {
                            border-bottom: 3px solid $pale-orange;

                            &:hover {
                                border-bottom: 3px solid $pale-orange;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -5px;
                                transform: translateX(-50%);
                                height: 0;
                                width: 0;
                                border-style: solid;
                                border-width: 8px 8px 0 8px;
                                border-color: $pale-orange transparent transparent transparent;
                            }
                        }

                        &:hover {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 3px solid transparent;
                            color: $pale-orange;
                        }
                    }
                }
            }
        }
    }

    &--bio-page {
        transform: translateY(-7rem);

        .bio-img {
            &-wrap {
        
            }
            &-inner-wrap {
                border-radius: 0.5rem;
                max-height: 20rem;
                overflow: hidden;
                display: inline-block;
            }
        }

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 1.33;
            text-align: center;
        }

        h2 {
            font-size: 2rem;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: 0.8px;
            text-align: center;
            padding-bottom: 3rem;
        }

        img {
            width: 20rem;
            // border-radius: .5rem;
        }

        p {
            line-height: 3.6rem;
        }
    }
}

.tab-content {
    > .tab-pane {
        &--single-page-tab {
            padding: 4.3rem 0;

            h3 {
                font-size: 2.4rem;
            }

            h5 {
                font-size: 1.8rem;
            }

            p {
                strong {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .single-page-template {
        &__country-list-tabs {
            h3 {
                max-width: none;
            }

            ul {
                &.nav-tabs {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .single-page-template {
        &--content {
            figure {
                float: right;
                width: 60rem;
                padding-left: 3rem;
            }

            h1 {
                margin: 5rem 0;
            }
        }

        &__line {
            margin-bottom: 5rem;
        }

        &--smaill-img-card {
            figure {
                width: 34rem;
            }
        }

        &--centered-image {
            figure {
                width: 65rem;
                float: none;
                margin-right: 5.5rem;
            }
        }

        &__investigators-cards {
            margin-top: 15rem;
        }
    }
}
