// colors
$dark-grey-blue: #295168;
$pale-orange: #feb25f;
$dark-sky-blue: #42a5f5;
$dark-sky-blue-light: rgba(66,165,245, 0.5);

$screen-min-sm: 768px;
$screen-less-than-sm: 767px;
$screen-min-md: 1024px;
$screen-less-than-md: 1023px;
