// colors
$dark-grey-blue: #295168;
$pale-orange: #feb25f;
$dark-sky-blue: #42a5f5;
$dark-sky-blue-light: #65b6e1;
$off-white : #f1f1f1;

$screen-iphone-x: 414px;
$screen-min-sm: 768px;
$screen-less-than-sm: 767px;
$screen-min-md: 1024px;
$screen-less-than-md: 1023px;

$screen-min-lg: 1200px;
